.tituloGeneralR {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #3fa9f5!important; }

.tituloContenido {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #3fa9f5; }

.parrafoContenido {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #252932; }

.tituloContenidoR {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #3fa9f5; }

.parrafoContenidoR {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #252932; }


.celeste {
  color: #3fa9f5; }

.blanco {
  color: #ffffff; }

.gris {
  color: #252932; }

@media (max-width: 768px) {
  .header_logo {
    font-size: 40px;
    float: left;
    margin: 5px;
    line-height: default; }
  .header_item {
    font-size: 15px;
    text-align: center; }
  .info {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center; }
  .info_item {
    flex-grow: 1; }
  .nav1 {
    display: none; }
  .contenido1 {
    display: none; }
  .contenido2{
    display: block;
  }
  input, textarea, select {
    width: 70%; }
  button {
    width: 70%; } }

@media (min-width: 768px) {
  .nav1 {
    display: block; }
  .nav2 {
    display: none; }
  .contenido1 {
    display: block; }
  .contenido2 {
    display: none; } }

.img {
  width: 17rem;
  height: 17rem; }

.header_logo {
  color: #3fa9f5;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-decoration: none !important;
  float: left;
  line-height: 70px;
  margin-left: 20px;
  margin-top: 10px; }

.header_logo:hover {
  color: #3fa9f5; }

.header_item {
  color: #ffffff !important;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
  transition: background 0.3s 0s ease-in;
  margin: 7px;
  border-radius: 50px !important; }

.header_contact {
  background: #3fa9f5; }

.header_item:hover {
  background: #3fa9f5; }

.header_bg {
  background: #252932; }

.info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center; }

.info_item {
  position: relative;
  padding: 1rem;
  justify-content: space-evenly;
  align-content: center;
  margin: 1rem;
  text-align: center;
  transition: transform 1s; }

.info_img {
  border-radius: 50%;
  padding: .6rem;
  width: 150px;
  height: 150px; }

.info_title {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #3fa9f5;
  text-align: center; }

.info_text {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: 300; }

.main {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 70px; }

.main_title {
  color: #3fa9f5;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: left; }

.main_text {
  color: black;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: left; }

/*=========================
  Icons
 ================= */
* {
  margin: 0;
  padding: 0; }

/* footer social icons */
.footer {
  background-color: #252932;
  padding: 20px 0;
  text-align: center; }

ul.social-network {
  list-style: none;
  display: inline;
  margin: auto; }
  ul.social-network li {
    display: inline;
    margin: 0 10px; }

/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color: #3B5998; }

.social-network a.icoTwitter:hover {
  background-color: #33ccff; }

.social-network a.icoMedium:hover {
  background-color: #00AB6C; }

.social-network a.icoQuora:hover {
  background-color: #AA2200; }

.social-network a.icoLinkedin:hover {
  background-color: #007bb7; }

.social-network a.icoInstagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); }

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoMedium:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color: #fff; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 22px; }

.social-circle li i {
  margin: 0;
  line-height: 60px;
  text-align: center; }

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

.social-circle a {
  background-color: #3fa9f5; }

@media screen and (max-width: 500px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px; } }

@media screen and (max-width: 450px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px; }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px; }
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center; } }

@media screen and (max-width: 350px) {
  ul.social-network li {
    display: inline;
    margin: 0 2px; }
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px; }
  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center; } }


