$celeste: #3fa9f5;
$blanco: #ffffff;
$gris: #252932;


.celeste{
    color: $celeste;
}

.blanco{
    color: $blanco;
}
.gris{
    color:$gris
}

$gradientFooter: linear-gradient(203deg, rgba(61,101,129,1) 15%, rgba(9,10,10,1) 92%);



